/* General */

*, *::after, *::before {
	margin: 0;
	padding: 0;
}


:root {
	--color-text: black;
	--background: white;
	--menu-color: #FADBC8;
	--link-color: #4F0014;
	--shadow-color: rgba(0, 0, 0, 0.25);
	--shadow-color-no-alpha: black;

	--alert-background: #faefb9;
	--alert-border: #fab43b;

	font-family: 'Roboto Slab', serif;
}


/* Dark theme */
body.dark-body {
	--color-text: #fff7f8;
	--background: #2B2B4A;
	--shadow-color: rgba(144, 55, 73, 0.25);
	--shadow-color-no-alpha: rgb(144, 55, 73);
	--link-color: #ED7C7C;
	--menu-color: #53354A;

	--alert-background: #53354A;
	--alert-border: var(--shadow-color-no-alpha);
}


h1 {
	text-align: center;
	margin-top: 5%;
}


@media (max-width: 1000px) {
	h1 { font-size: 4em; }

	h2 { font-size: 3em; }

	h3 { font-size: 2.34em; }

	p { font-size: 2em; }
}


/* svg я использую через use */
.svg-sample { display: none; }


body {
	background: var(--background) no-repeat;
	color: var(--color-text);
}


a {
	text-decoration: none;
	font-weight: bold;
	color: var(--link-color);
}


/* Dark Theme Button */

.hide-btn-theme {
	animation: roll-out .5s;
	opacity: 0;
}


.show-btn-theme {
	animation: roll-in .5s;
}


/* для выравнивания картинок (с position: absolute) */
#menu > ul > li:last-child {
	position: relative;
}


#moon-button {
	position: absolute;
	top: 0;
	left: 0;
}


#darkThemeSwitch { display: none; }


label[for="darkThemeSwitch"] { cursor: pointer; }


/* Article card */

article, .article {
	display: block;
	margin: 5% 10%;
	padding: 1%;

	border-radius: 10px;

	box-shadow: var(--shadow-color) 0px 5px 15px 15px;
}


/* обводка для тёмной темы */
body.dark-body article, body.dark-body .article {
	border-style: dashed solid;
	border-color: var(--shadow-color-no-alpha);
}


article > p:not(:last-child), .article > p:not(:last-child) {
	margin-bottom: 1%;
}


article h2, .article h2 {
	text-align: center;
	margin-bottom : 1%;
}


/* необходимо, чтобы контейнер учитывал высоту float-элементов */
.float-hack {
	overflow: hidden;
}


@media (max-width:  1000px) {
	article, .article {
		padding: 5%;
		margin: 5%;
	}

	article > p:not(:last-child), .article > p:not(:last-child) {
		margin-bottom: 5%;
	}

	body.dark-body article, body.dark-body .article {
		border-width: 5px;
	}
}